### * 위경도 변환 테스트!

In [80]:
import pandas as pd
import numpy as np
import geopy
from geopy.geocoders import Nominatim

In [2]:
# csv 파일 불러오기
csv = pd.read_csv('mgc.csv')
csv.head()

   지역     매장명                                        주소
0  서울     홍대점                  서울특별시 마포구 잔다리로6길 39(서교동)
1  경기  안양1번가점              경기도 안양시 만안구 안양로304번길 13(안양동)
2  경기    성복역점                  경기도 용인시 수지구 수지로 125(성복동)
3  대구  대구동성로점                  대구광역시 중구 중앙대로 395(동성로3가)
4  서울    강남역점  서울특별시 강남구 테헤란로 101 강남역 지하쇼핑센터 e-35호(역삼동)

In [3]:
# 데이터프레임 주소값 추출
address = csv['주소']
address.head()

0                    서울특별시 마포구 잔다리로6길 39(서교동)
1                경기도 안양시 만안구 안양로304번길 13(안양동)
2                    경기도 용인시 수지구 수지로 125(성복동)
3                    대구광역시 중구 중앙대로 395(동성로3가)
4    서울특별시 강남구 테헤란로 101 강남역 지하쇼핑센터 e-35호(역삼동)
Name: 주소, dtype: object

In [4]:
# 주소 데이터 깔끔하게 다듬기
for i in range(len(address)):
    a = address[i].split(' ')
    address[i] = " ".join(a[0:4])
print(address)

0    서울특별시 마포구 잔다리로6길 39(서교동)
1        경기도 안양시 만안구 안양로304번길
2             경기도 용인시 수지구 수지로
3    대구광역시 중구 중앙대로 395(동성로3가)
4          서울특별시 강남구 테헤란로 101
5           인천광역시 부평구 광장로 16,
6             강원도 화천군 사내면 사내로
7       전라북도 군산시 문화로 119(수송동)
8          서울특별시 구로구 경인로 661,
Name: 주소, dtype: object

In [5]:
geo_local = Nominatim(user_agent='South Korea')

In [14]:
# 위도, 경도 반환하는 함수
def eval_results(x):
    try:
        return (x.latitude, x.longitude)
    except:
        return (None, None)

geo_df = address.apply(geo_local.geocode, timeout=10).apply(lambda x: eval_results(x))

In [40]:
type(geo_df)

pandas.core.series.Series

In [58]:
df_series = pd.Series(geo_df)

In [74]:
df_series[2][0]

37.3079476

In [75]:
df_series[2][1]

127.0755107

In [76]:
df_series

0                 (None, None)
1    (37.3995506, 126.9216779)
2    (37.3079476, 127.0755107)
3                 (None, None)
4    (37.5082638, 127.0606999)
5    (37.4905349, 126.7240671)
6    (38.0705724, 127.5236577)
7                 (None, None)
8     (37.4978622, 126.852714)
Name: 주소, dtype: object

In [81]:
# df_series 데이터 프레임 나누기
latitude = []
longitude = []

i = 0
for i in df_series:
    latitude.append(df_series[i][0])
    longitude.append(df_series[i][1])

C:\Anaconda3.5\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  import sys
C:\Anaconda3.5\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.

IndexError: index 1 is out of bounds for axis 0 with size 1

In [28]:
latitude = []
longitude = []

for i in geo_df:
    latitude.append(geo_df(i)[0])
    longitude.append(geo_df(i)[1])

TypeError: 'Series' object is not callable

In [20]:
# Dataframe 만들기
address_geo = pd.DataFrame({'지역': csv['지역'],'매장명': csv['매장명'],'주소' : address, '위경도' : geo_df})

In [21]:
address_geo

   지역      매장명                        주소                        위경도
0  서울      홍대점  서울특별시 마포구 잔다리로6길 39(서교동)               (None, None)
1  경기   안양1번가점      경기도 안양시 만안구 안양로304번길  (37.3995506, 126.9216779)
2  경기     성복역점           경기도 용인시 수지구 수지로  (37.3079476, 127.0755107)
3  대구   대구동성로점  대구광역시 중구 중앙대로 395(동성로3가)               (None, None)
4  서울     강남역점        서울특별시 강남구 테헤란로 101  (37.5082638, 127.0606999)
5  인천     부평역점         인천광역시 부평구 광장로 16,  (37.4905349, 126.7240671)
6  강원  화천 사창리점           강원도 화천군 사내면 사내로  (38.0705724, 127.5236577)
7  전북   군산 수송점     전라북도 군산시 문화로 119(수송동)               (None, None)
8  서울    신도림역점        서울특별시 구로구 경인로 661,   (37.4978622, 126.852714)

In [22]:
# Dataframe 저장 
address_geo.to_csv('mgc_geo.csv', index = False)

In [23]:
%ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 58A2-D5D4

 C:\Users\UBIQSOLUTION\Python\ex\pandas_ex\GeoEx 디렉터리

2022-01-03  오후 03:06    <DIR>          .
2022-01-03  오후 03:06    <DIR>          ..
2022-01-03  오후 02:40    <DIR>          .ipynb_checkpoints
2022-01-03  오후 12:25               927 GeoTest.py
2022-01-03  오후 03:04             8,185 GeoTests.ipynb
2022-01-03  오후 02:40               784 mgc.csv
2022-01-03  오후 03:06               874 mgc_geo.csv
               4개 파일              10,770 바이트
               3개 디렉터리  18,350,055,424 바이트 남음

In [24]:
df_mgc = pd.read_csv('mgc_geo.csv')

In [25]:
df_mgc

   지역      매장명                        주소                        위경도
0  서울      홍대점  서울특별시 마포구 잔다리로6길 39(서교동)               (None, None)
1  경기   안양1번가점      경기도 안양시 만안구 안양로304번길  (37.3995506, 126.9216779)
2  경기     성복역점           경기도 용인시 수지구 수지로  (37.3079476, 127.0755107)
3  대구   대구동성로점  대구광역시 중구 중앙대로 395(동성로3가)               (None, None)
4  서울     강남역점        서울특별시 강남구 테헤란로 101  (37.5082638, 127.0606999)
5  인천     부평역점         인천광역시 부평구 광장로 16,  (37.4905349, 126.7240671)
6  강원  화천 사창리점           강원도 화천군 사내면 사내로  (38.0705724, 127.5236577)
7  전북   군산 수송점     전라북도 군산시 문화로 119(수송동)               (None, None)
8  서울    신도림역점        서울특별시 구로구 경인로 661,   (37.4978622, 126.852714)